@charset "UTF-8";
// @import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Kosugi|Kosugi+Maru|Russo+One&subset=japanese');

// html, body {
// width: 100%;
// height: 100%;
// }

html,body {
background-color: #eee;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  // word-break: break-all;
}
a {
  color: #1ca9e3;
  text-decoration: none;
}

a:hover, a:hover img {
  opacity: .8;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
img, video, object {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  display: block;
}
ul, li {
  list-style: none;
}
/*--------------------------------
　全体
---------------------------------*/

#wrapper {
  background-color: #f3f3f3;
  .inner {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
  @media screen and (max-width: 768px){
    padding: 15px 5px;
  }
}
}
#contents {
  padding: 100px 0;
  @media screen and (max-width: 768px){
    padding: 25px 0;
  }
}
/*--------------------------------
　nav
---------------------------------*/
#gl-nav {
background-color:rgba(255,20,87,0.6);
}
nav {
  transition: .3s;
}
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.is-hide {
  transform: translateY(-100%);
}

/*--------------------------------
　Section
---------------------------------*/

.section .inner {
  padding: 80px 10px;

  .section-title-block {
  text-align: center;
  margin-bottom: 30px;
  .section-title {
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: -0.01em;
  display: inline-block;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  @media screen and (max-width: 768px) {
    font-size: 39px;
  }
}
.section-desc {
  text-align: center;
}
}
}





/*--------------------------------
　Latestworks
---------------------------------*/
#latestworks .inner .two-column-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex:none;
  padding: 30px 0;
}
.two-column-image {
  width: 48%;
  .two-column-image img {
  margin: 0 auto;
}
}
.two-column-desc {
  width: 48%;
}
}


/*--------------------------------
　WORKS
---------------------------------*/
#works .card-wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .card {
  width: 32%;
  margin-bottom: 50px;
  border:none;
  .card-image {
  display: block;
  margin-bottom: 8px;
}
.card-caption-title {
  font-size: 13px;
  font-weight: bold;
  padding-left: 10px;
}
.card-caption-info {
  font-size: 12px;
  padding-left: 10px;
}
.card-caption-url {
  font-size: 10px;
  padding-left: 10px;
}
}
}
/*--------------------------------
　About
---------------------------------*/

#about .two-column-image {
  width: 33%;
}

#about .two-column-desc {
  width: 62%;
}
/*--------------------------------
 SKILL
---------------------------------*/

#skill .card-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .card {
  flex-basis: 46%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border:none;
}
}
@media screen and (max-width: 768px) {
  #skill .card-wrapper {
    flex:none!important;
    .card {
    flex:none!important;
    width: 100%;
     margin-bottom: 20px;
  }
  }
}


#skill {
.card:first-child {
  flex-basis: 100%;
  img {
  width: 200px;
}
}
.skill-icon {
  flex-basis: 100px;
  img {
  width: 100px;
}
}
.skill-desc {
  flex-basis: calc(100% - 75px - 30px);
  .skill-desc-title {
  margin-bottom: 3px;
}
.rate {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 20px;
  font-size: 20px;
&:before, &:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
&:before {
  color: #ddd;
}
&:after {
  color: #e8629f;
  overflow: hidden;
  white-space: nowrap;
}
}
.rate1:after {
  width: 20px;
}
.rate2:after {
  width: 40px;
}
.rate3:after {
  width: 60px;
}
 .rate4:after {
  width: 80px;
}
.rate5:after {
  width: 100px;
}
}
}
/*--------------------------------
 CONTACT
---------------------------------*/

#contact .contact-list {
  padding: 20px 0;
}

#contact .contact-list ul {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-self: flex-end;
  ;
}

#contact {
.contact-list li {
   text-align: center;
  img {
  width: 70px;
  margin: 0 auto 5px;
}
a {
  color: #333;
  &:hover {
    text-decoration:none;
  }
span.contact-list-desc {
  font-weight: bold;
}
}
}
}

/*--------------------------------
topへ戻る
---------------------------------*/
main #page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
    a {
    display: block;
    background: #666;
    color: #fff;
    width: 100px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    &:hover {
    background: #999;
    text-decoration: none;
}
}
}










// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
//////////////*WAVEここから*//////////////
.box {
  width: 100%;
  height: 300px;
  border-radius: 1px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 80%;
  background: #0af;
  width: 800px;
  height: 800px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.4));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
//////////////*WAVEここまで*//////////////

